<!-- collection_view.html -->
{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<h4><i class="fa fa-caret-left"></i> <a href="{% url 'previous_issues' %}" class="static_a_display">Previous Issues</a></h4>

<h2>{{ title.0 }} {% if user.is_staff %}<small><a class="btn btn-xs btn-default" href="{% url 'oai_collection' object.pk %}">Update</a></small>{% endif %}</h2>
<h3><strong>{{ title.1 }}</strong></h3>
{% endblock page_header %}

{% block content %}	
	<div class="row">
		<div class="col-md-6">
			{% for heading, records in toc_left.items %}
				{% if heading == 'Prefaces' %}
					<h4 class="border-space">&nbsp;</h4>
				{% else %}
					<h4 class="border-space">{{ heading }}</h4>
				{% endif %}

				{% for data in records %}
					<strong>{{data.0}}</strong>
					<p class="small">{% if data.1 %}Edited by{% endif %} {% for j in data.1%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
					{% for doc in data.2 %}
						<div class="row">
							<div class="col-md-11"> 
								<a href="{{ doc.item.0.get_absolute_url }}" class="static_a_display">
									<strong>{{ doc.item.0 }}</strong>
									<p class="small">{% for j in doc.item.1%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
								</a>
							</div>
							<div class="col-md-1 {% if data.0 %}col-md-push-1{% endif %}"><em>{% if heading == 'Prefaces' %}&nbsp;{% else %}{{ doc.item.3 }}{% endif %}</em></div>
						</div>
					{% endfor %}
				{% endfor %}
			{% endfor %}
		</div>
		<div class="col-md-6">
			{% for heading, records in toc_right.items %}
				<h4 class="border-space">{{ heading }}</h4>
				{% for data in records %}
					<strong>{{data.0}}</strong>
					<p class="small">{% if data.1 %}Edited by{% endif %} {% for j in data.1%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p> 
					{% for doc in data.2 %}
						<div class="row">
							<div class="{% if data.0 %}col-md-9 col-md-offset-1 {% else %}col-md-11{% endif %}">
								<a href="{{ doc.item.0.get_absolute_url }}" class="static_a_display">
									<strong>{{ doc.item.0 }}</strong>
									<p class="small">{% for j in doc.item.1%} <em>{{ j }}{% if not forloop.last %}; {% endif %}</em> {% endfor %}</p>
								</a>
							</div>
							<div class="col-md-1 {% if data.0 %}col-md-push-1{% endif %}"><em>{{ doc.item.3 }}</em></div>
						</div>
					{% endfor %}
				{% endfor %}
			{% endfor %}
		</div>

	</div>

{% endblock content %}